+b('section').footer
    .container
        .row
            +e('ul')
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая тнхника
            +b('div').sub-footer
                +e('p').all-rights с 2019
                +e('a').add-shop(href="#" title="#")
                    +e('span').plus +
                    +e('span').desc Подключить магазин