@font-face {
  font-family: 'GothamPro';
  src: local("GothamPro"), url("../fonts/gotham-pro/GothamPro-Light.woff") format("woff"), url("../fonts/gotham-pro/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro';
  src: local("GothamPro"), url("../fonts/gotham-pro/GothamPro-Bold.woff") format("woff"), url("../fonts/gotham-pro/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome Regular';
  src: url("../fonts/fontawesome/fa-regular-400.eot") format("embedded-opentype"), url("../fonts/fontawesome/fa-regular-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-regular-400.woff") format("woff"), url("../fonts/fontawesome/fa-regular-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-regular-400.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome Solid';
  src: url("../fonts/fontawesome/fa-solid-900.eot") format("embedded-opentype"), url("../fonts/fontawesome/fa-solid-900.woff2") format("woff2"), url("../fonts/fontawesome/fa-solid-900.woff") format("woff"), url("../fonts/fontawesome/fa-solid-900.ttf") format("truetype"), url("../fonts/fontawesome/fa-solid-900.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome Brands';
  src: url("../fonts/fontawesome/fa-brands-400.eot") format("embedded-opentype"), url("../fonts/fontawesome/fa-brands-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-brands-400.woff") format("woff"), url("../fonts/fontawesome/fa-brands-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-brands-400.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font: 300 1rem/1.125rem GothamPro, sans-serif;
  color: #06121c;
  background: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
  color: #06121c; }

h1 {
  font-size: 2rem;
  line-height: 3.34rem;
  color: #303030; }

h2 {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  font: 700 2.25rem/2.5rem GothamPro, sans-serif;
  color: #303030; }

h3 {
  width: 100%;
  text-align: left;
  font: 700 1.5rem/1.7rem GothamPro, sans-serif;
  color: #303030; }

h4 {
  text-align: left;
  font: 700 1.125rem/1.25rem GothamPro, sans-serif;
  color: #303030; }

h5 {
  font-size: 0.83rem;
  line-height: 1.67rem; }

h6 {
  font-size: 0.67rem;
  line-height: 2.33rem; }

p {
  font: inherit;
  color: #222222; }

b, strong {
  color: inherit;
  font: inherit;
  font-weight: bold; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

fieldset {
  border: 0; }

label {
  margin: 0; }

input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  input[type=checkbox]::-ms-clear, input[type=radio]::-ms-clear {
    display: none; }

input[type=number] {
  -moz-appearance: textfield; }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

textarea {
  resize: none; }

a {
  color: #222222;
  text-decoration: underline;
  cursor: pointer;
  font: 300 1rem/1.25rem GothamPro, sans-serif;
  -webkit-transition: all 0.33s;
  transition: all 0.33s; }
  a:hover, a:focus {
    color: #222222;
    text-decoration: underline;
    -webkit-transition: all 0.33s;
    transition: all 0.33s; }
  a:active {
    opacity: 0.8;
    color: #222222; }

img {
  max-width: 100%; }

blockquote {
  margin: 0; }

figure {
  margin: 0; }

.hidden {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-color: grey; }

body::-webkit-scrollbar {
  height: 7px;
  width: 7px; }

.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
  font: 700 1rem/1.125rem GothamPro, sans-serif; }
  .button:hover, .button:focus {
    text-decoration: none; }
  .button-yellow {
    background-color: #fff200;
    color: #06121c;
    border: 2px solid #fff200; }
    .button-yellow:hover {
      background-color: white;
      border: 2px solid #fff200;
      color: #06121c; }
  .button-blue {
    background-color: transparent;
    color: #31bcfe;
    border: 2px solid #31bcfe;
    padding: 0.7rem 2.25rem;
    font: 700 0.75rem/1rem GothamPro, sans-serif; }
    .button-blue:hover, .button-blue:focus {
      background-color: #31bcfe;
      border: 2px solid #31bcfe;
      color: white; }
  .button-red {
    background-color: #f33733;
    color: #fff;
    border: 2px solid #f33733;
    padding: 0.8rem 2.25rem;
    font: 700 0.75rem/1rem GothamPro, sans-serif; }
    .button-red:hover, .button-red:focus {
      background-color: white;
      border: 2px solid #f33733;
      color: #f33733; }
  .button-dark {
    background-color: transparent;
    color: #222222;
    border: 2px solid #222222;
    padding: 0.7rem 2.25rem;
    font: 700 0.75rem/1rem GothamPro, sans-serif; }
    .button-dark:hover, .button-dark:focus {
      background-color: #222222;
      color: #fff; }

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 3;
  margin-left: 10px;
  margin-right: 10px; }
  .menu-btn span, .menu-btn span::before, .menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222; }
  .menu-btn span::before, .menu-btn span::after {
    content: '';
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .menu-btn span::before {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  .menu-btn_active span {
    height: 0; }
  .menu-btn span::after {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  .menu-btn_active span:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: center;
            transform-origin: center; }
  .menu-btn_active span:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center;
            transform-origin: center; }

.input-default {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.66rem 1rem;
  background: white;
  border: 1px solid #f0f0f0;
  outline: none;
  border-radius: 2rem;
  font: 300 1rem/1.125rem GothamPro, sans-serif;
  color: #000; }
  .input-default::-webkit-input-placeholder {
    opacity: 1;
    font: 300 0.875rem/1.125rem GothamPro, sans-serif;
    color: #757575; }
  .input-default:-ms-input-placeholder {
    opacity: 1;
    font: 300 0.875rem/1.125rem GothamPro, sans-serif;
    color: #757575; }
  .input-default::-ms-input-placeholder {
    opacity: 1;
    font: 300 0.875rem/1.125rem GothamPro, sans-serif;
    color: #757575; }
  .input-default::placeholder {
    opacity: 1;
    font: 300 0.875rem/1.125rem GothamPro, sans-serif;
    color: #757575; }
  .input-default:hover {
    -webkit-transition: all 0.33s;
    transition: all 0.33s; }
  .input-default:focus {
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
    border-color: #31bcfe; }

.footer {
  padding: 3.4375rem 0;
  background-color: #333340; }
  .footer ul {
    width: 100%;
    padding-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer li {
    width: 100%;
    padding-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%; }
  .footer a {
    text-decoration: none;
    font: 300 0.875rem/2.25rem GothamPro, sans-serif;
    color: #bfbfbf; }
    .footer a:hover, .footer a:focus {
      color: #fff200; }

.drop-down {
  min-height: 9.375rem;
  display: none;
  background-color: #06121c; }
  .drop-down ul {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .drop-down ul li {
      height: 100%;
      max-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .drop-down ul li:hover, .drop-down ul li:focus, .drop-down ul li:active {
        background-color: #31bcfe;
        text-decoration: none; }
      .drop-down ul li:hover a, .drop-down ul li:focus a, .drop-down ul li:active a {
        text-decoration: none; }
  .drop-down a {
    height: 100%;
    padding-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .drop-down a:hover, .drop-down a:focus, .drop-down a:active {
      text-decoration: none; }
  .drop-down a span {
    padding: 0 0.5rem;
    text-align: center;
    font: 500 0.875rem/1.125rem GothamPro, sans-serif;
    color: #fff; }
    .drop-down a span:hover, .drop-down a span:focus, .drop-down a span:active {
      color: #fff; }
  .drop-down__img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    max-width: unset;
    min-height: 3.6rem; }
  .drop-down__img {
    margin-bottom: 1.25rem; }
  .drop-down__desc {
    color: #000; }

.header {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 1rem 0;
  background-color: #333340; }
  .header__wrapper {
    width: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1rem;
    padding-right: 4.375rem;
    text-decoration: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    .header__logo:before {
      content: '.ru';
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transform: rotate(-44deg) translate(-89%, -58%);
              transform: rotate(-44deg) translate(-89%, -58%);
      display: block;
      width: 25px;
      height: 25px;
      font: 700 1.1875rem/2rem GothamPro, sans-serif;
      color: #fff200; }
    .header__logo:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transform: translate(4%, -12%);
              transform: translate(4%, -12%);
      display: block;
      width: 80px;
      height: 65px;
      background-size: contain;
      background-position: center center;
      background: url(../img/logo.png) no-repeat; }
    .header__logo:hover, .header__logo:focus, .header__logo:active {
      border: none;
      outline: none;
      text-decoration: none; }
  .header__sravni {
    color: #f1f1f1;
    font: 700 2.25rem/2.5rem GothamPro, sans-serif;
    letter-spacing: -1.8px; }
  .header__price {
    color: #fff200;
    font: 700 2.25rem/2.5rem GothamPro, sans-serif;
    letter-spacing: -1.8px; }
  .header__menu-btn {
    width: 100%;
    max-width: 8.75rem;
    height: 2.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2rem;
    text-decoration: none;
    border-radius: 2rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    .header__menu-btn:hover, .header__menu-btn:focus {
      opacity: 1;
      text-decoration: none; }
    .header__menu-btn div {
      text-transform: uppercase;
      font: 700 1rem/1.2rem GothamPro, sans-serif;
      color: #06121c; }
  .header__sale {
    position: relative;
    margin-right: 1rem;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font: 700 1rem/1.2rem GothamPro, sans-serif;
    color: #fff;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
    .header__sale:before {
      content: '';
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translate(-120%, -25%);
              transform: translate(-120%, -25%);
      display: block;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background-color: #fff200; }
    .header__sale:after {
      content: '%';
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translate(-157%, -23%);
              transform: translate(-157%, -23%);
      font: 700 2rem/2rem GothamPro, sans-serif;
      color: #06121c; }
    .header__sale:hover, .header__sale:focus {
      text-decoration: underline;
      color: white; }
  .header__search {
    position: relative;
    width: 100%;
    max-width: 19.375rem;
    height: 100%;
    max-height: 42px;
    display: block;
    padding-right: 3.125rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
    .header__search input {
      width: 100%;
      max-width: 19.375rem;
      height: 100%;
      max-height: 42px;
      display: block;
      border: none;
      outline: none; }
  .header__button-search {
    border: none;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    cursor: pointer;
    display: block;
    width: 3.125rem;
    height: 42px;
    background-size: contain;
    background: #31bcfe url(../img/header/search.png) center center no-repeat;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    color: #06121c; }
  .header__select {
    cursor: pointer;
    color: #31bcfe;
    position: relative;
    min-width: 5rem;
    padding-right: 1.2rem; }
  .header__select-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0.5rem;
    cursor: pointer;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
    .header__select-block:before {
      content: '';
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 2rem;
      height: 42px;
      background-size: contain;
      background: url(../img/header/Pointer.png) center center no-repeat;
      -webkit-transform: translate(-85%, -27%);
              transform: translate(-85%, -27%); }
    .header__select-block:after {
      content: '';
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 2rem;
      height: 42px;
      background-size: contain;
      background: url(../img/header/arrowDown.png) center center no-repeat;
      -webkit-transform: translate(20%, -27%);
              transform: translate(20%, -27%); }

.input-overlay {
  z-index: 11; }

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 0.3;
  background-color: #000; }

.overview {
  position: relative;
  height: 100%;
  padding: 2rem 0;
  background-color: white; }
  .overview .container {
    max-width: 1200px; }
  .overview__overview-main-desc {
    height: 8.4375rem;
    padding: 1.2rem 3.5rem 1.2em 1.5625rem;
    background-color: #31bcfe;
    overflow-y: hidden; }
  .overview__img-big-block {
    display: block;
    height: 16.5625rem;
    overflow-y: hidden; }
  .overview__title-big {
    text-decoration: none;
    color: white !important; }
  .overview__title {
    min-height: 3rem;
    max-height: 3.1rem;
    overflow-y: hidden;
    display: block;
    text-align: left;
    font: 700 1.5rem/1.5rem GothamPro, sans-serif;
    margin-bottom: 0.5rem;
    color: #fff;
    text-decoration: none; }
    .overview__title:hover, .overview__title:focus {
      color: #fff !important; }
  .overview__small-card {
    height: 11.5625rem;
    display: block;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    color: #31bcfe;
    text-decoration: none; }
    .overview__small-card:hover, .overview__small-card:focus {
      border: 1px solid #f0f0f0;
      text-decoration: none;
      -webkit-box-shadow: 0 6px 21px rgba(0, 0, 0, 0.16);
              box-shadow: 0 6px 21px rgba(0, 0, 0, 0.16);
      color: #31bcfe; }
  .overview__desc-small {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 3.61rem;
    overflow-y: hidden;
    display: block;
    padding: 0 0.75rem 0.75rem 0.75rem;
    font: 300 0.9375rem/1.125rem GothamPro, sans-serif;
    color: #222222; }
    .overview__desc-small:hover, .overview__desc-small:focus {
      color: #31bcfe; }
  .overview__img-big {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .overview__img-small {
    height: 100%;
    width: 100%;
    min-height: 6.874rem;
    max-height: 6.875rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .overview__desc {
    display: block;
    min-height: 2.25rem;
    max-height: 2.3rem;
    overflow-y: hidden;
    text-decoration: none;
    font: 400 1rem/1.2rem GothamPro, sans-serif;
    color: #fff; }
    .overview__desc:hover, .overview__desc:focus {
      color: #fff; }
  .overview__show-block {
    margin: 2rem 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.popular {
  position: relative;
  padding: 2rem 0;
  background-color: #f4f4f4; }
  .popular .container {
    max-width: 1200px; }
  .popular__heart {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-100%, 35%);
            transform: translate(-100%, 35%);
    cursor: pointer; }
  .popular__card {
    min-height: 25rem;
    padding: 1.2rem 1.875rem 1.2rem 1.875rem;
    margin-bottom: 2rem;
    border: 3px solid white;
    border-radius: 5px;
    background-color: white; }
    .popular__card:hover, .popular__card:focus {
      border: 3px solid #31bcfe;
      -webkit-box-shadow: 0 5px 24px rgba(49, 188, 254, 0.6);
              box-shadow: 0 5px 24px rgba(49, 188, 254, 0.6); }
  .popular__img-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 14.9rem;
    height: 15rem;
    width: 100%;
    position: relative; }
  .popular__img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    height: 100%;
    max-height: 15rem; }
  .popular__img-link-desc {
    display: block;
    min-height: 3.5625rem;
    max-height: 3.6rem;
    overflow-y: hidden;
    text-align: center;
    font: 300 1rem/1.2rem GothamPro, sans-serif;
    color: #222222; }
  .popular__price {
    width: 100%;
    padding: 0.7rem 1.8rem 0.7rem 1rem;
    margin-top: 1rem;
    border-radius: 2rem; }
  .popular__show-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .popular__total-price {
    position: relative; }
    .popular__total-price:after {
      position: absolute;
      content: '\f158';
      display: block;
      top: 0;
      right: 0;
      -webkit-transform: translate(130%, 7%);
              transform: translate(130%, 7%);
      font: 700 0.75rem/1.125rem "FontAwesome Solid";
      cursor: pointer;
      color: #06121c; }
  .popular__card-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.sale {
  padding: 2rem 0;
  background-image: url("../img/theme/bg/yellow_bg.png");
  background-color: #fff200; }
  .sale .container:nth-child(2) {
    max-width: 1200px; }
  .sale__top-card {
    position: relative;
    border-bottom: 1px dashed #e7e7e7; }
  .sale__title-block {
    position: relative;
    width: 100%;
    margin-bottom: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    height: 5.3125rem;
    border: 2px dashed #f33733; }
    .sale__title-block:after {
      content: '';
      position: absolute;
      top: 0;
      left: 28%;
      -webkit-transform: translate(0%, -54%);
              transform: translate(0%, -54%);
      display: block;
      width: 36px;
      height: 28px;
      background-size: contain;
      background-position: center center;
      background: url(../img/theme/icons/scissors.png) no-repeat; }
    .sale__title-block h2 {
      margin: 0; }
  .sale__slider {
    margin: 0 -15px; }
    .sale__slider .slick-prev {
      left: 0;
      -webkit-transform: translate(-140%, -52%);
              transform: translate(-140%, -52%);
      width: 5.0625rem;
      height: 5.0625rem;
      border-radius: 50%;
      background: #f4f4f4 url(../img/slider/Arrow_Right_2.svg) center center no-repeat; }
      .sale__slider .slick-prev:hover {
        width: 81px;
        height: 81px;
        background-color: #fff200;
        -webkit-box-shadow: 0 13px 21px rgba(255, 242, 0, 0.32);
                box-shadow: 0 13px 21px rgba(255, 242, 0, 0.32);
        background: #fff200 url(../img/slider/Arrow_Right_21.svg) center center no-repeat;
        border-radius: 50%; }
      .sale__slider .slick-prev:before {
        content: ''; }
    .sale__slider .slick-next {
      right: 0;
      -webkit-transform: translate(140%, -52%);
              transform: translate(140%, -52%);
      width: 5.0625rem;
      height: 5.0625rem;
      border-radius: 50%;
      background: #f4f4f4 url(../img/slider/Arrow_Right_22.svg) center center no-repeat; }
      .sale__slider .slick-next:hover {
        width: 81px;
        height: 81px;
        background: #fff200 url(../img/slider/sliderRight.svg) center center no-repeat;
        -webkit-box-shadow: 0 13px 21px rgba(255, 242, 0, 0.32);
                box-shadow: 0 13px 21px rgba(255, 242, 0, 0.32);
        border-radius: 50%; }
      .sale__slider .slick-next:before {
        content: ''; }
  .sale__main-shop {
    width: 100%;
    display: block;
    text-align: center;
    font: 300 0.875rem/1.1875rem GothamPro, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #31bcfe; }
    .sale__main-shop:hover, .sale__main-shop:focus {
      text-decoration: underline;
      color: #31bcfe; }
  .sale__slide-wrapper {
    padding: 0 15px; }
  .sale__img {
    height: 100%;
    max-height: 15rem;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center; }
  .sale__item-card {
    position: relative;
    width: 100%;
    max-width: 270px;
    padding: 0 1.875rem;
    background-color: white;
    border-radius: 5px;
    -webkit-clip-path: polygon(100% 0, 100% 76%, 94% 78.7%, 100% 81.7%, 100% 100%, 0 100%, 0 82%, 6% 78.7%, 0 76%, 0 0);
            clip-path: polygon(100% 0, 100% 76%, 94% 78.7%, 100% 81.7%, 100% 100%, 0 100%, 0 82%, 6% 78.7%, 0 76%, 0 0); }
  .sale__heart {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(95%, 35%);
            transform: translate(95%, 35%);
    cursor: pointer; }
  .sale__img-block {
    min-height: 16.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white; }
  .sale__title {
    display: block;
    min-height: 3.5625rem;
    max-height: 3.6rem;
    overflow-y: hidden;
    padding: 0 0.8rem;
    text-align: center;
    font: 300 1rem/1.1875rem GothamPro, sans-serif;
    color: #222222; }
  .sale__bottom-card {
    min-height: 6.25rem;
    padding: 0.5rem 0.8rem 0 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white; }
  .sale__btn-sale {
    width: 100%;
    max-width: 100%; }
  .sale__price-block {
    position: relative;
    padding: 1rem 0 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sale__price-block:after {
      content: '';
      right: 0;
      top: 50%;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid transparent; }
  .sale__price-with-sale {
    position: relative;
    padding-right: 1.5rem;
    font: 700 1.125rem/1.5rem GothamPro, sans-serif;
    color: #f33733; }
    .sale__price-with-sale:after {
      position: absolute;
      content: '\f158';
      display: block;
      top: 0;
      right: 0;
      -webkit-transform: translate(-90%, 15%);
              transform: translate(-90%, 15%);
      font: 700 0.875rem/1.125rem "FontAwesome Solid";
      cursor: pointer;
      color: #f33733; }
  .sale__old-price {
    font: 700 0.9375rem/1.125rem GothamPro, sans-serif;
    color: #f33733;
    text-decoration: line-through; }
    .sale__old-price .strike {
      color: #9d9c9c;
      position: relative; }
      .sale__old-price .strike:after {
        position: absolute;
        content: '\f158';
        display: block;
        top: 0;
        right: 0;
        -webkit-transform: translate(130%, 0%);
                transform: translate(130%, 0%);
        font: 700 0.875rem/1.125rem "FontAwesome Solid";
        cursor: pointer;
        color: #9d9c9c; }
  .sale + .show-block {
    width: 100%;
    max-width: 100%;
    height: 6.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff200; }

.service {
  padding: 3.75rem 0; }
  .service__desc-title {
    font: 700 1rem/1.5rem GothamPro, sans-serif;
    color: #000; }
  .service__desc {
    font: 300 1rem/1.5rem GothamPro, sans-serif; }

.shop-add__shop-card {
  min-height: 5.874rem;
  max-height: 5.875rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  border: 3px solid #f0f0f0;
  border-radius: 5px;
  background-color: white;
  text-decoration: none; }
  .shop-add__shop-card:hover, .shop-add__shop-card:focus {
    text-decoration: none;
    border: 3px solid #31bcfe;
    -webkit-box-shadow: 0 5px 24px rgba(49, 188, 254, 0.6);
            box-shadow: 0 5px 24px rgba(49, 188, 254, 0.6); }
  .shop-add__shop-card-no-border {
    border: none; }
    .shop-add__shop-card-no-border:hover, .shop-add__shop-card-no-border:focus {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none; }

.shop-add__add {
  padding: 0.5rem;
  display: block;
  color: #31bcfe;
  font: 700 3rem/3rem GothamPro, sans-serif; }

.shop-add__add-shop-link {
  color: #31bcfe;
  font: 700 1rem/1.25rem GothamPro, sans-serif; }

.shop-add__img {
  height: 100%;
  max-height: 5.875rem;
  width: 100%;
  display: block;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center; }

.slider {
  padding: 2rem 0; }
  .slider__slide {
    height: 100%;
    max-height: 590px; }
  .slider__wrapper {
    width: 100%;
    max-width: 1170px;
    height: 590px;
    margin: 0 auto; }
  .slider__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 100%;
    max-height: 590px; }
  .slider__link {
    width: 100%;
    max-width: 1170px;
    height: 590px; }
  .slider .slick-prev {
    left: 0;
    -webkit-transform: translate(-140%, -52%);
            transform: translate(-140%, -52%);
    width: 5.0625rem;
    height: 5.0625rem;
    border-radius: 50%;
    background: #f4f4f4 url(../img/slider/Arrow_Right_2.svg) center center no-repeat; }
    .slider .slick-prev:hover {
      width: 81px;
      height: 81px;
      background-color: #fff200;
      -webkit-box-shadow: 0 13px 21px rgba(255, 242, 0, 0.32);
              box-shadow: 0 13px 21px rgba(255, 242, 0, 0.32);
      background: #fff200 url(../img/slider/Arrow_Right_21.svg) center center no-repeat;
      border-radius: 50%; }
    .slider .slick-prev:before {
      content: ''; }
  .slider .slick-next {
    right: 0;
    -webkit-transform: translate(140%, -52%);
            transform: translate(140%, -52%);
    width: 5.0625rem;
    height: 5.0625rem;
    border-radius: 50%;
    background: #f4f4f4 url(../img/slider/Arrow_Right_22.svg) center center no-repeat; }
    .slider .slick-next:hover {
      width: 81px;
      height: 81px;
      background: #fff200 url(../img/slider/sliderRight.svg) center center no-repeat;
      -webkit-box-shadow: 0 13px 21px rgba(255, 242, 0, 0.32);
              box-shadow: 0 13px 21px rgba(255, 242, 0, 0.32);
      border-radius: 50%; }
    .slider .slick-next:before {
      content: ''; }

.social-entry {
  background-color: #f4f4f4;
  padding: 1.1875rem; }
  .social-entry__title {
    padding-left: 0.7rem;
    margin-bottom: 1rem; }
  .social-entry__social-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.sub-footer {
  width: 100%;
  max-width: 100%;
  min-height: 5.625rem;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #06121c; }
  .sub-footer__all-rights {
    color: #6d6d6d;
    font: 300 0.875rem/2.25rem GothamPro, sans-serif;
    margin-right: 7.5rem; }
  .sub-footer__plus {
    padding: 0.5rem;
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 0.5rem;
    text-align: center;
    border: 2px dashed #31bcfe;
    font: 700 1.5rem/1rem GothamPro, sans-serif;
    border-radius: 50%; }
  .sub-footer__add-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #31bcfe;
    text-decoration: none;
    font: 700 1rem/1.25rem GothamPro, sans-serif; }
    .sub-footer__add-shop:hover, .sub-footer__add-shop:focus {
      color: #31bcfe;
      text-decoration: none; }

.subscribe {
  padding-top: 3rem; }
  .subscribe__title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 1.5rem; }
  .subscribe__title-shop {
    height: 60px;
    margin-right: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 700 3.75rem/3.75rem GothamPro, sans-serif;
    color: #31bcfe; }
  .subscribe__title-shop-other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .subscribe__form {
    position: relative;
    margin-bottom: 2.5em; }
  .subscribe__btn-subsc {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.66rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font: 700 0.75rem/1rem GothamPro, sans-serif; }
  .subscribe__email {
    padding-right: 8.5rem; }
  .subscribe__social-entry {
    background-color: #f4f4f4; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px; }
  .subscribe > .container {
    max-width: 1200px; }
  .overview .container .row:nth-child(2) div:nth-child(2) .row {
    height: 100%;
    max-height: 100%; }
  .overview .container .row:nth-child(2) div:nth-child(2) .row div:nth-child(4),
  .overview .container .row:nth-child(2) div:nth-child(2) .row div:nth-child(5),
  .overview .container .row:nth-child(2) div:nth-child(2) .row div:nth-child(6) {
    -ms-flex-item-align: end;
        align-self: flex-end; } }

@media screen and (max-width: 1199px) {
  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 1rem; }
  .header__menu-btn {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 1rem; }
  .header__sale {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-bottom: 1rem; }
  .header__search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem; }
  .header__select-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 1rem; }
  .slider .slick-prev, .sale .slick-prev {
    display: none !important; }
  .slider .slick-next, .sale .slick-next {
    display: none !important; }
  .overview__img-big-block {
    max-height: 14.6rem; }
  .popular__card {
    padding: 1rem; }
  .slider__wrapper {
    height: auto; }
  .slider__img {
    -o-object-fit: contain;
       object-fit: contain;
    height: auto; }
  .sale__item-card {
    padding: 0 1rem; }
  .sale__price-block {
    padding: 0 0 0.4rem 0; }
  .shop-add__shop-card {
    margin-bottom: 1.88rem; } }

@media screen and (max-width: 1199px) and (min-width: 992px) {
  html {
    font-size: 16px; } }

@media screen and (max-width: 991px) {
  .drop-down ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    /* flex-direction: column; */
    min-height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    background-color: green; }
    .drop-down ul li {
      height: unset;
      max-height: unset;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; }
  .drop-down a {
    height: 100%;
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .drop-down__img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    max-width: unset;
    min-height: 3rem; }
  .drop-down__img {
    margin-bottom: 0.1rem; }
  .overview__desc-small {
    max-height: 3.5rem; }
  .social-entry {
    margin-bottom: 1rem; }
  .subscribe__title-shop {
    font: 700 1.5rem/1.7rem GothamPro, sans-serif;
    height: unset;
    display: contents;
    white-space: nowrap; }
  .subscribe__title-shop-other {
    display: contents; }
  .sale__heart {
    -webkit-transform: translate(40%, 35%);
            transform: translate(40%, 35%); } }

@media screen and (max-width: 767px) {
  .drop-down ul li {
    height: unset;
    max-height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .overview__small-card {
    margin-bottom: 1rem; }
  .footer li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .sub-footer__all-rights {
    margin-right: 2rem; } }

@media screen and (max-width: 374px) {
  html {
    font-size: 14px; } }

@media screen and (max-width: 575px) {
  html {
    font-size: 14px; }
  .footer li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .button {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: block;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .header {
    padding: 1rem 1.5rem; }
    .header__logo {
      padding-right: 5rem; }
    .header__select-block {
      padding-left: 2rem; }
      .header__select-block:before {
        -webkit-transform: translate(-20%, -27%);
                transform: translate(-20%, -27%); }
    .header__sale:after {
      -webkit-transform: translate(-171%, -15%);
              transform: translate(-171%, -15%); }
    .header__menu-btn div {
      padding-right: 0.5rem; }
    .header__menu-btn {
      max-width: 8rem; }
  .sale {
    padding-left: 1rem;
    padding-right: 1rem; }
    .sale__title-block:after {
      left: 14%; }
    .sale__slide-wrapper {
      padding: 0; }
    .sale__item-card {
      max-width: unset; }
  .subscribe__title-shop {
    font: 700 1.5rem/1.7rem GothamPro, sans-serif;
    height: unset;
    display: contents;
    white-space: nowrap; }
  .subscribe__title-shop-other {
    display: contents; }
  .sub-footer__add-shop {
    margin: 0 0 1rem 0; }
  .service {
    padding: 1rem; } }
