.input-default {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.66rem 1rem;
  background: $white;
  border: 1px solid $border-grey-color;
  outline: none;
  border-radius: $bor-rad-inpt;
  font: 500 1rem/1.125rem $font-main;
  color: #000;

  &::placeholder {
    opacity: 1;
    font: 300 0.875rem/1.125rem $font-main;
    color: #757575;
  }
  &:hover {
    transition: $transition-default;
    //border-color: $link-color;
  }
  &:focus {
    transition: $transition-default;
    border-color: $link-color;
  }
}

.label-checkbox {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;

  &__input-hidden {
    @include vh();
  }

  &__label-span {
    width: 17px;
    height: 17px;
    border: 1px solid $border-grey-color;
    border-radius: 3px;

    &:hover, &:focus {
      border: 1px solid $border-main-color;
    }
  }

  &__input-hidden:checked + .label-checkbox__label-span {
    position: relative;
    width: 17px;
    height: 17px;
    //background-color: $bg-blue-color;
    border-radius: 3px;
    border: 1px solid $border-main-color;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 17px;
      height: 17px;
      top: 0;
      left: 2px;
      background: url('../img/theme/icons/Check_Icon.png') no-repeat;
    }
  }
}