.input-default {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 1rem;
  background: $white;
  //border: 1px solid $border-default-color;
  border-radius: $bor-rad-inpt;
  font: 300 .875rem/1.125rem $font-main;
  color: $text-main;

  &::placeholder {
    opacity: 1;
    font: 300 0.875rem/1.125rem $font-main;
    color: #757575;
  }
  &:hover {
    transition: $transition-default;
    //border-color: $link-color;
  }
  &:focus {
    transition: $transition-default;
    border-color: $link-color;
  }
}

@media screen and (max-width: 991px) {

}