@media screen and (min-width: 1200px) {

  .container {
    max-width: 1170px;

    &.slide-container {
      max-width: 1200px;
    }
    //&:first-child {
    //  max-width: 1200px;
    //}
  }

  .overview {

    & .container .row:nth-child(2) div:nth-child(2) .row {
      height: 100%;
      max-height: 100%;
    }

    & .container .row:nth-child(2) div:nth-child(2) .row div:nth-child(4),
    & .container .row:nth-child(2) div:nth-child(2) .row div:nth-child(5),
    & .container .row:nth-child(2) div:nth-child(2) .row div:nth-child(6)
    {
      align-self: flex-end;
    }
  }

  .subscribe, .filter-section {

    & > .container {
      max-width: 1200px;
    }
  }

}

@media screen and (max-width: 1199px) {

  .header {

    &__wrapper {
      flex-wrap: wrap;
    }

    &__logo {
      order: 1;
      margin-bottom: 1.5rem;
    }

    &__menu-btn {
      order: 4;
      margin-bottom: 1rem;
    }

    &__sale {
      order: 5;
      margin-bottom: 1rem;
    }

    &__search {
      order: 3;
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
    }

    &__select-block {
      order: 2;
      margin-bottom: 1rem;
    }

    //&__menu-btn {
    //  display: none;
    //}
  }

  .overview {

    &__img-big-block {
      max-height: 17rem;
    }

    &__small-card {
      margin-bottom: 0.7rem;
    }
  }

  .popular {

    &__card {
      padding: 1rem;
    }
  }

  .sale {

    &__item-card {
      padding: 0 1rem;
    }

    &__price-block {
      padding: 0 0 0.07rem 0;
    }
  }

  .shop-add {

    &__shop-card {
      margin-bottom: 1.88rem;
    }
  }

  .slider {

    &__wrapper {
      height: auto;
    }

    &__img {
      object-fit: contain;
      height: auto;
    }

    &__slide-one {
      height: 480px;
    }
  }

  .slider, .sale {

    & .slick-prev {
      display: none!important;
    }

    & .slick-next {
      display: none!important;
    }
  }

}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  html {
    font-size: 16px;
  }

  //.sale__heart {
  //  transform: translate(25%, 35%);
  //}
}

@media screen and (max-width: 991px) {

  .drop-down {
    height: 0;
    max-height: 0;
    min-height: 0;

    & ul {
      position: fixed;
      top: 0;
      left: 0;
      width: 10%;
      z-index: 11;
      /* flex-direction: column; */
      min-height: 100%;
      max-width: 85%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-start;
      background-color: $bg-dark-blue;

      & li {
        height: unset;
        max-height: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    & a {
      height: 100%;
      padding-top: 0rem;
      margin-bottom: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &__img-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: auto;
      max-width: unset;
      min-height: 3rem;
    }

    &__img {
      margin-bottom: 0.1rem;
    }
  }

  .modal__close-modal {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(125%, 40%);
    z-index: 3;
    width: 32px;
    height: 32px;
    border: 2px solid;
    border-radius: 50%;
    display: block;
    color: $bg-dark-blue;
    background-color: #fff;
    box-shadow: 2px 2px 3px rgba(0,0,0,.15);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) rotate(-45deg);
      width: 9%;
      padding-top: 70%;
      background: currentColor;
    }

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) rotate(45deg);
      width: 9%;
      padding-top: 70%;
      background: currentColor;
    }
  }

  .overview {

    &__big-feed {
      margin-bottom: 1rem;
    }

    &__desc-small {
      max-height: 3.5rem;
    }
  }

  //.sale__heart {
  //  transform: translate(40%, 35%);
  //}

  .slider {

    &__slide-one {
      height: 355px;
    }
  }

  .social-entry {
    margin-bottom: 1rem;
  }

  .subscribe {
    //padding-top: 0;

    &__title-shop {
      font: 700 1.5rem/1.7rem $font-main;
      height: unset;
      display: contents;
      white-space: nowrap;
    }

    &__title-shop-other {
      display: contents;
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {

}

@media screen and (max-width: 991px) and (min-width: 576px) {

}

@media screen and (max-width: 767px) {



  .drop-down {

    & ul {

      & li {
        height: unset;
        max-height: unset;
        min-height: 86px;
        display: -webkit-box;
        display: -ms-flexbox;
        padding: 1rem 0.1rem 0.5rem 0.1rem;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
      }
    }
  }

  .footer li {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .overview__small-card {
    margin-bottom: 1rem;
  }

  .slider {

    &__slide-one {
      height: 260px;
    }
  }

  .sub-footer__all-rights {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 576px) {

}

@media screen and (max-width: 374px) {

  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {

  html {
    font-size: 14px;
  }

  .button {
    max-width: fit-content;
    display: block;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .container {

    &.slide-container {
      max-width: 300px;
    }
  }

  .footer li {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .header {
    padding: 1rem 1.5rem;

    &__logo {
      padding-right: 5rem;
    }

    &__select-block {
      padding-left: 2rem;

      &:before {
        transform: translate(-20%, -27%);
        height: 30px;
      }
    }

    &__sale {
      padding-top: 0.2rem;
    }

    &__sale:after {
      transform: translate(-158%, -15%);
    }

    &__sale:before {
      width: 38px;
      height: 38px;
    }

    &__menu-btn div {
      padding-right: 0.5rem;
      padding-top: 0.2rem;
    }

    &__menu-btn {
      display: flex;
      align-items: center;
      max-width: 8rem;
    }
  }

  .popular__total-price:after {
    //top: -3px;
    //right: -1px;
  }

  .sale {
    padding-left: 1rem;
    padding-right: 1rem;

    &__title-block:after {
      left: 14%;
    }

    &__slide-wrapper {
      padding: 0;
    }

    &__item-card {
      max-width: unset;
    }

    &__old-price .strike:after {
      top: -2px;
    }
  }

  .service {
    padding: 1rem;
  }

  .slider {

    &__slide-one {
      height: 140px;
    }
  }

  .subscribe {
    //padding-top: 0;

    &__title-shop {
      font: 700 1.5rem/1.7rem $font-main;
      height: unset;
      display: contents;
      white-space: nowrap;
    }

    &__title-shop-other {
      display: contents;
    }
  }

  .sub-footer__add-shop {

    margin: 0 0 1rem 0;
  }
}